<div class="wrapper">
  <form class="login" action="/users/login" method="post">
    <p class="title">Log in</p>
    <input type="text" name="user_name" placeholder="Username" autofocus=""/>
    <input type="text" name="password" placeholder="Password"/>
    <button>
      <span class="state">Log in</span>
    </button>
    <a href="#" id="register_show">Not registered yet?</a>
    <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
    <% end %>
  </form>
  <form class="register" action="/users/register" method="post">

    <p class="title">Register</p>

    <input type="text" name="user_name" placeholder="Username*" autofocus/>
    <input type="text" name="password" placeholder="Password*" />
    <input type="text" name="full_name" placeholder="Full Name"/>
    <input type="text" name="address" placeholder="Street Address"/>
    <input type="text" name="city" placeholder="City" />
    <input type="text" name="state" placeholder="State"/>
    <input type="text" name="postal_code" placeholder="Postal Code"/>
    <input type="text" name="country" placeholder="Country"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="text" name="phone1" placeholder="Phone Number 1"/>
    <input type="text" name="phone2" placeholder="Phone Number 2"/>
    <input type="text" name="phone2" placeholder="Phone Number 3"/>
    <input type="submit" value="Register"/>
    <a href="#" id="login_show">Already have an account?</a>
    <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:blank_reg] %>
      <div class="blank_reg"><%= flash[:blank_reg] %></div>
    <% end %>
    <% if @valid_string %>
      <div class="valid_string"><%= @valid_string %></div>
    <% end %>
    <% if @same_string %>
      <div class="same_string"><%= @same_string %></div>
    <% end %>
    <% if @long_user_name_string %>
      <div class="long_user_name_string"><%= @long_user_name_string %></div>
    <% end %>
    <% if @long_password_string %>
      <div class="long_password_string"><%= @long_password_string %></div>
    <% end %>
    <% if @not_contain_string %>
      <div class="not_contain_string"><%= @not_contain_string %></div>
    <% end %>
    <% if @contains_string %>
      <div class="contains_string"><%= @contains_string %></div>
    <% end %>
  </form>
</div>
